{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div style="overflow-x:auto;" >
        <table>
            <tr>
                <th>مدت زمان</th>
                <th>پایان</th>
                <th>شروع</th>
                <th>عنوان کار</th>
            </tr>
            {% for work in works %}
{#                {{ work }}#}
                <tr>
                    <td>Jill</td>
                    <form method="post">
                        {% csrf_token %}
                        {{ eform.as_p }}

                        <td class="endTagParent">

                            <button class="btn btn-danger endTag" onclick="endTag(this)" value="">اتمام</button>
                            <span class="endTimeSpan" style="display: none"> sdfg {{ work.j_end_work }} </span>
                        </td>
                    </form>
                    <td dir="rtl">{{ work.j_start_work }}</td>
                    <td>{{ work.title }}</td>
                </tr>
            {% endfor %}
            <script src="{% static 'hours/js/jquery-3.4.1.min.js' %}"></script>
                <script>
                    function endTag(tag){
                        $(tag).remove();
                        $(tag+'+ .endTimeSpan').show();
                    }
                </script>
        </table>


        <div style="width: 95%;margin-left: 3%">
            <form method="post" >

                {% csrf_token %}
                {{ iform.as_p }}
            </form>
        </div>
    </div>
    <script src="{% static 'hours/js/click.js' %}"></script>

{% endblock%}





{% block side %}


    <div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;" dir="rtl">
        <h5 class="w3-bar-item"  style="   border: 2px solid ; border-radius: 8px ; height: 14%;">بسته های کاری</h5>
        {% for package in packages %}
            <a href="#" class="w3-bar-item w3-button" style="margin-top: 5%;border-radius: 8px;border: 2px solid gray;">{{ package.j_created_at }}</a>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {% for field in bform.hidden_fields %}
                {{ bform.as_p }}
            {% endfor %}
            <div class="button">
                <button class="btn btn-primary"  type="submit" role="btn btn-primary" style="margin-top: 20%">ایجاد بسته کاری جدید</button>
            </div>
        </form>
    </div>



{% endblock %}


